.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.pageLinks {
  padding: 4%;
  text-decoration: none;
  color: black;
  font-family: "Roboto", sans-serif;
  font-weight:600;
  font-size:larger;
}

nav {
   background-image: linear-gradient(to top, #b5f0fc, #9CE0F8);
  padding: 1%;
}

.logomtg {
  padding-left: 2%;
  width: 30%;
  padding-right: 13%;
}

.App {
  font-family: "Roboto", sans-serif;
}

.bodyBG {
  background-color: #232323;
  background-image: linear-gradient(to right, #232323, #000000);
}

.heroImage {
  width: 100%;
  padding: 7%;
  padding-bottom: 9%;
}

.headingHero {
  color: white;
  font-weight: bold;
  align-content: center;
}

.bodyText {
  color: white;
  padding-bottom: 4%;
}

.primaryButton {
  font-size: large;
  background-image: linear-gradient(to top, #b5f0fc, #9CE0F8);
  color: #0E3D19;
  padding:2%;
  border: none;
  padding-left: 8%;
  padding-right: 8%;
  font-weight: 500;
}

.alternativeBG {
  background-color: white;
}

.heading1B {
  color: #0E3D19;
  font-weight: bold;
  text-align: center;
  padding-top: 4%;
  padding-bottom: 3%;
}

.heading2 {
  color: #0E3D19;
  font-weight: bold;
}

.bodyTextB {
  color:#0E3D19;
  font-size:large;
  padding-right: 20%;
}

.tagButton {
  font-size: large;
  background-color:#9CE0F8;
  color:#0E3D19;
  padding:1.5%;
  border-color:#0E3D19;
  padding-left: 5%;
  padding-right: 5%;
  margin: 2%;
  margin-left: 0%;
  box-shadow: 5px 5px lightblue;
}

.heading1 {
  color: white;
  font-weight:bold;
  display: flex;
  justify-content: center;
  padding-top: 4%;
}

.dropdown {
  display: flex;
  justify-content: center;
}

.heading2B {
  color: #ffffff;
  font-weight: bold;
  display: flex;
  justify-content: center;
}

.logoFooter {
  padding-left: 2%;
  width: 35%;
  padding-right: 13%;
  padding-top: 2%;
  padding-bottom: 1%;
}

.singleCard {
  width: 90%;
  padding: 7%;
  padding-left: 30%;
}

.loadingText{
  color: #61dafb;
  font-weight: bold;
  display: flex;
  justify-content: center;
}

.tagGroupHome {
  display: flex;
  justify-content: center;
}

.styleAccordion{
  padding-top: 6%;
}

.buttonMiddle {
  display: flex;
  justify-content: center;
  padding-top: 4%;
  padding-bottom: 2%;
}

.primaryButton:hover {
  font-size: large;
  background-image: linear-gradient(to top, #61dafb, #217835);
  color: #ffffff;
  padding:2%;
  border: none;
  padding-left: 8%;
  padding-right: 8%;
  font-weight: 500;
}

.bodyTextCenter {
  color: white;
  margin-left: 16%;
  margin-right: 16%;
}

.styleChart {
  padding: 5%;
}

.styleChartPie {
  padding: 24%;
  padding-top: 5%;
  padding-bottom: 5%;
}

.styleChartRadar {
  padding: 24%;
  padding-top: 5%;
  padding-bottom: 5%;
}

.chartPadding {
  padding: 4%;
}

.compareCard {
  justify-content: center;
  width: 70%;
  padding-left: 30%;
  margin-bottom: 2%;
}

.dropdown {
  padding-top: 1.5%;
  padding-bottom: 0%;
}

.styleChartLine {
  padding: 27%;
  padding-top: 2%;
  padding-bottom: 5%;
}